* {
  box-sizing: border-box;
}
body {
  font-family: "Zen Kaku Gothic New", PingFang, Microsoft JhengHei, sans-serif;
  background-color: var(--color-background_1);
  color: var(--color-black);
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

select {
  background-color: var(--color-background_1);
  color:var(--color-gray_1);
  font-weight: 900;
  border: none;
  padding: 1em 1.5em;
  border-radius: 100px;
  appearance: none;
}
