.banner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.banner .description {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
}
.banner .description .topic {
  display: flex;
  column-gap: 32px;
  font-size: 48px;
  margin-bottom: 1em;
}
.banner .description .topic .pic {
  width: 150px;
}
.banner .description .topic p {
  flex-grow: 1;
  font-weight: 700;
  line-height: 1.2;
}
.banner .description .topic p strong {
  color: var(--color-green_1);
}
.banner .description .content {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.banner .description .navigate-btn {
  display: inline-flex;
  align-self: flex-start;
  position: relative;
  align-items: center;
  background-color: var(--color-white);
  font-size: 20px;
  font-weight: 500;
  padding: 8px 64px;
  margin-bottom: 3em;
  border-radius: 24px;
  border: 1px solid var(--color-background_3);
}
.banner .description .navigate-btn img {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
.banner .description .condition-section .title {
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.banner .description .condition-section .title::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 12px;
  background-color: var(--color-orange);
}
.banner .description .condition-section .condition-list-section {
  height: 2em;
  width: 50%;
  background-color: var(--color-white);
  overflow: hidden;
}
.banner .description .condition-section .condition-list-section:nth-of-type(1) {
  margin-bottom: 8px;
}
.banner .description .condition-section ul li a {
  font-size: 12px;
  font-weight: 500;
}
.banner .description .condition-section .condition-list {
  display: flex;
  width: max-content;
  animation: infiniteScroll 5s linear infinite;
}
.banner .description .condition-section .condition-list li {
  flex-shrink: 0;
  padding-right: 12px;
}
.banner .description .condition-section .condition-vertical-list {
  animation: infiniteVerticalScroll 5s linear infinite;
}
@keyframes infiniteScroll {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-50%);}
}
@keyframes infiniteVerticalScroll {
  0% {transform: translateY(0%);}
  100% {transform: translateY(-50%);}
}
.banner .carousel {
  width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.banner .carousel > .pic {
  width: fit-content;
}
.banner .carousel > .pic img {
  border-radius: 8px;
}
.banner .carousel .pagination {
  display: flex;
  column-gap: 8px;
}
.banner .carousel .pagination li {
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-green_1);
  border-radius: 50%;
}
.banner .carousel .pagination li.active {
  background-color: var(--color-green_1);
}