.banner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.banner > .pic {
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -40%);
  width: 150px;
  opacity: .3;
  rotate: -25deg;
}
.banner .description {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
}
.banner .description .topic {
  display: flex;
  column-gap: 32px;
  font-size: 48px;
  margin-bottom: 1em;
}
.banner .description .topic .pic {
  width: 150px;
}
.banner .description .topic p {
  flex-grow: 1;
  font-weight: 900;
  line-height: 1.2;
}
.banner .description .topic p strong {
  color: var(--global-primary-color);
}
.banner .description .content {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.banner .description .navigate-btn {
  display: inline-flex;
  align-self: flex-start;
  position: relative;
  align-items: center;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 64px;
  margin-bottom: 3em;
  border-radius: 24px;
  border: 1px solid var(--global-black-1-color);
}
.banner .description .navigate-btn img {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
.banner .description .condition-section .title {
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.banner .description .condition-section .title::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 12px;
  background-color: var(--global-orange-color);
}
.banner .description .condition-section .condition-list {
  background-color: #fff;
  padding: 8px 0;
  display: flex;
  column-gap: 12px;
}
.banner .carousel {
  width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.banner .carousel > .pic {
  width: fit-content;
}
.banner .carousel > .pic img {
  border-radius: 8px;
}
.banner .carousel .pagination {
  display: flex;
  column-gap: 8px;
}
.banner .carousel .pagination li {
  width: 12px;
  height: 12px;
  border: 1px solid var(--global-primary-color);
  border-radius: 50%;
}
.banner .carousel .pagination li.active {
  background-color: var(--global-primary-color);
}