.btn-bg-white {
  display: inline-flex;
  align-self: flex-start;
  position: relative;
  align-items: center;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 18px;
  border-radius: 100px;
  border: 1px solid var(--global-black-1-color);
}
.btn-bg-white::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../images/right-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.btn-bg-black {
  color: #fff;
  background-color: rgb(46, 44, 41);
  border: none;
  padding: 1em 1.5em;
  border-radius: 100px;
  font-weight: 700;
}