footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 80px;
}
footer .wrapper {
    max-width: 1320px;
    margin: 0 auto;
}
footer .wrapper .navigation-section {
    padding-bottom: 60px;
    border-bottom: 1px solid var(--color-line_4);
}
footer .wrapper .navigation-section > .topic {
    display: grid;
    /* grid-template-columns: 1fr auto 1fr; */
    grid-template-columns: 337px auto 1fr;
    align-items: center;
    column-gap: 72px;
    margin-bottom: 16px;
}
footer .wrapper .navigation-section > .topic .title {
    display: flex;
    align-items: center;
}
footer .wrapper .navigation-section > .topic .title .pic {
    margin-right: 4px;
}
footer .wrapper .navigation-section > .topic .title h2 {
    font-size: 24px;
    font-weight: 700;
}
footer .wrapper .navigation-section > .topic .search-list{
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
}
footer .wrapper .navigation-section > .topic .search-list a {
    color: var(--color-white);
    font-weight: 700;
}
footer .wrapper .navigation-section > .topic form {
    display: flex;
}
footer .wrapper .navigation-section > .topic form input {
    flex-grow: 1;
    border: none;
    background-color: rgba(var(--color-white_rgb), .1);
    padding: 0.5em 1em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
footer .wrapper .navigation-section > .topic form input::placeholder {
    color: rgba(var(--color-white_rgb), 0.5);
}
footer .wrapper .navigation-section > .topic form button {
    border: none;
    background-color: rgba(var(--color-white_rgb), .1);
    padding: 0.5em 1em;
    font-size: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: inline-flex;
    align-items: center;
}
footer .navigation-section .footer-text {
    display: inline-block;
    background-color: rgba(var(--color-white_rgb), 0.1);
    border-radius: 4px;
    color: var(--color-white);
    font-size: 12px;
    padding: 0.5em 1em;
    margin-bottom: 16px;
}
footer .navigation-section .info {
    display: grid;
    grid-template-columns: 337px 1fr;
    column-gap: 72px;
}
footer .navigation-section .info .media .sns-info {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin: 48px 0;
}
footer .navigation-section .info .media .sns-info span {
    font-weight: 700;
}
footer .navigation-section .info .media .sns-info .icon {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(var(--color-white_rgb), 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}
footer .navigation-section .info .media .navigate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-green_1);
    width: 100%;
    padding: 16px;
    text-align: center;
    border-radius: 100px;
    font-weight: 700;
}
footer .navigation-section .info .media .navigate-btn img {
  margin-right: 8px;
}
footer .navigation-section .info .condition-section a {
    color: var(--color-white);
}
footer .navigation-section .info .condition-section > p {
    margin-bottom: 32px;
    font-weight: 700;
}
footer .navigation-section .info .condition-section .condition-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
footer .navigation-section .info .condition-section .condition-list .condition > p {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    font-weight: 700;
}
footer .navigation-section .info .condition-section .condition-list .condition > p::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: var(--color-white);
}
footer .navigation-section .info .condition-section .condition-list .condition ul {
    display: grid;
    grid: repeat(6, auto) / auto-flow;
    gap: 13px;
}
footer .navigation-section .info .condition-section .condition-list .condition ul a {
    color: rgba(var(--color-white_rgb), 0.3);
    font-size: 14px;
    font-weight: 500;
}
footer .navigation-section .info .condition-section .outlier-condition > p {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  font-weight: 700;
}
footer .navigation-section .info .condition-section .outlier-condition > p::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: var(--color-white);
}
footer .navigation-section .info .condition-section .outlier-condition ul {
  display: grid;
  grid: repeat(6, auto) / auto-flow;
  gap: 13px;
  width: fit-content;
}
footer .navigation-section .info .condition-section .outlier-condition ul li a {
  color: rgba(var(--color-white_rgb), 0.3);
  font-size: 14px;
  font-weight: 500;
}
footer .company-info {
    padding: 30px 0;
    display: flex;
    align-items: center;
}
footer .company-info ul {
    display: flex;
    column-gap: 1em;
}
footer .company-info ul li a {
    color: var(--color-white);
}
footer .company-info p {
    margin-left: auto;
    color: rgba(var(--color-white_rgb), 0.3);
}