.recruitment {
  margin-top: 150px;
}
.recruitment .bg-green {
  background-color: var(--global-primary-color);
  padding-top: 32px;
}
.recruitment .container {
  max-width: 1200px;
  padding: 0 80px;
  margin: 0 auto;
}
.recruitment .condition-section {
  margin-bottom: 64px;
}
.recruitment .condition-section > .title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.recruitment .condition-section > .title::before {
  content: "";
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.4em;
  background-image: url(../../images/search.png);
  background-size: cover;
}
.recruitment .condition-section .content {
  background-color: #fff;
  border-radius: 8px;
  padding: 64px 48px 32px 48px;
}
.recruitment .condition-section .content .by-dropdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  align-items: stretch;
  column-gap: 20px;
  margin-bottom: 32px;
}

.recruitment .condition-section .content > .divider {
  background-color: var(--global-linen-1-color);
  opacity: 0.2;
}
.recruitment .condition-section .content .other-approaches {
  display: flex;
}
.recruitment .condition-section .content .other-approaches .by-hash-tag {
  width: 60%;
}
.recruitment .condition-section .content .other-approaches .by-hash-tag > .title {
  font-weight: 700;
  margin-bottom: 8px;
}
.recruitment .condition-section .content .other-approaches .by-hash-tag > .title::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 0.4em;
  height: 0.4em;
  background-color: var(--global-primary-color);
  border-radius: 50%;
  transform: translateY(-3px);
}
.recruitment .condition-section .content .other-approaches .by-hash-tag > .hash-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.recruitment .condition-section .content .other-approaches .by-hash-tag > .hash-tag-list .hash-tag {
  border: 1px solid var(--global-linen-3-color);
  border-radius: 4px;
  padding: 0 4px;
  font-weight: 500;
}
.recruitment .condition-section .content .other-approaches .by-input {
  width: 40%;
}
.recruitment .condition-section .content .other-approaches .by-input > .title {
  font-weight: 700;
  margin-bottom: 8px;
}
.recruitment .condition-section .content .other-approaches .by-input > .title::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 0.4em;
  height: 0.4em;
  background-color: var(--global-primary-color);
  border-radius: 50%;
  transform: translateY(-3px);
}
.recruitment .condition-section .content .other-approaches .by-input > form {
  display: flex;
  border: 1px solid var(--global-linen-3-color);
  padding: 0.5em;
  border-radius: 4px;
}
.recruitment .condition-section .content .other-approaches .by-input > form input {
  border: none;
  flex-grow: 1;
}
.recruitment .condition-section .content .other-approaches .by-input > form button {
  border: none;
  background-color: transparent;
}
.recruitment .condition-section .content .see-more-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
}
.recruitment .condition-section .content .see-more-btn img {
  margin-left: 4px;
}
.recruitment .device-section > .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(var(--global-linen-3-color-rgb-code), 0.3);
}
.recruitment .device-section > .title .topic {
  display: flex;
  align-items: center;
}
.recruitment .device-section > .title .topic img {
  margin-right: 8px;
}
.recruitment .device-section > .title .topic h2 {
  font-size: 32px;
  font-weight: 700;
}
.recruitment .device-section > .title .content {
  font-weight: 700;
}
.recruitment .device-section > .title > .btn-bg-white {
  font-size: 16px;
  margin: auto 0;
  padding: 12px 40px;
}
.recruitment .device-section .device-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 48px;
  padding-top: 32px;
}
.recruitment .device-section .device-list .device {
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
}
.recruitment .device-section .device-list .device > .pic img {
  margin-bottom: 8px;
}
.recruitment .device-section .device-list .device > .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.recruitment .device-section .device-list .device > .location p:first-child {
  margin-bottom: 8px;
}
.recruitment .device-section .device-list .device > .location p:last-child {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}
.recruitment .device-section .device-list .device .hash-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 8px;
}
.recruitment .device-section .device-list .device .hash-tag-list .hash-tag {
  border: 1px solid var(--global-linen-3-color);
  border-radius: 4px;
  padding: 0 4px;
  font-weight: 500;
  font-size: 12px;
}
.recruitment .device-section .device-list .device .publish-time {
  font-size: 12px;
  font-weight: 500;
}